@import '../../scss/variables.module.scss';

.textarea {
  resize: none;
  white-space: pre-wrap;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid $grey-15;
  box-sizing: border-box;
  outline: none;
  height: 75px;
  transition: .3s all;

  &:focus {
    border-color: $blue-4;
  }
}