@import 'scss/variables.module.scss';

.channelsContainer {
  flex-basis: 720px;
  margin: 0 auto;
}

.tabsContainer {
  display: flex;
  position: relative;
}

.tabsContainer::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .4px;
  width: 100%;
  height: 1px;
  background: $grey-12;
  z-index: -1;
}

.chartTab {
  display: flex;
  justify-content: center;
  width: 50%;
  cursor: pointer;
  padding: 13px 0;
}

.statisticsChartRadioButton {
  display: none;
}

.chartTabActive {
  border-bottom: 2px solid $blue-4;
  color:  $blue-4;
  font-weight: 600;
}