@import '../../../../scss/variables.scss';

.chatPreviewContainer {
  margin-left: 40px;
}

.chatPreview {
  width: 350px;
}

.chatName {
  font-weight: 600;
  margin-bottom: 5px;
}

.responseTimeText {
  font-size: 14px;
  line-height: 1.4;
}

.chatPreviewHeader {
  border-radius: 15px 15px 0 0;
  background: $blue-1;
  text-align: center;
  padding: 15px 0;
  color: $white-1;
}

.chatPreviewBody {
  position: relative;
  background: $white-1;
  height: 467px;
}

.chatPreviewInputArea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 55px;
  background: $white-1;
  border-radius: 0 0 8px 8px;
  font-size: 15px;
  text-align: left;
  color: $grey-3;
  box-shadow: 0 -10px 40px 0 rgb(0 0 0 / 5%);

  & .emojiIcon {
    margin-right: 10px;
  }
}

.chatPreviewTrigger {
  display: flex;
  align-items: center;
  justify-content: center;;
  box-shadow: rgb(0 132 255 / 25%) 0px 10px 15px;
  background: $blue-1;
  border-radius: 60px;
}

.buttonTextExistStyles {
  padding: 10px 9px 10px 22px;
  width: fit-content;
}

.buttonTextNotExistStyles {
  width: 60px;
  height: 60px;
}

.leftPosition {
  margin: 30px auto 0 0;
}

.rightPosition {
  margin: 30px 0 0 auto;
}

.fakeMessageContainer {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.fakeAvatar {
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
}

.image {
  width: 32px;
  height: 32px;
}

.fakeMessage {
  padding: 11px 20px 11px 16px;
  background: $white-5;
  border-radius: 18px;
  margin-left: 12px;
  font-size: 14px;
}

.infochatLink {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 13px;
  color: $black-1;
}

.link {
  color: $blue-4;
  text-decoration: underline;
  cursor: pointer;
}

.triggerContent {
  color: $white-1;
  display: flex;
  align-items: center;
}

.triggerText {
  margin-right: 10px;
}