.gridRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  &:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
  }
}

.gridCell {
  display: flex;
  align-items: center;
}