@import '../../scss/variables.module.scss';

.channelsContainer {
  flex-basis: 720px;
  margin: 0 auto;
}

.channelNameContainer {
  width: 150px
}

.channel {
  width: 350px;
}

.modalBody {
  padding: 35px 0;
}

.modalField {
  width: 90%;
  margin: 0 auto;
}

.modalField:not(:last-child) {
  margin-bottom: 15px;
}

.textarea {
  font-size: 16px;
  height: 140px;
}

.addNewTemplateBtn {
  font-size: 14px;
  font-weight: 500;
  color: $blue-4;
  padding: 0;
}

.addTemplateBtn {
  background: $white-1;
  color: $blue-4;
  font-weight: 400;
  padding: 10px;
  font-size: 13px;
}

.changeTemplateBtn {
  font-weight: 500;
  font-size: 13px;
  padding: 10px 14px;
}

.deleteTemplateBtn {
  padding-bottom: 0;
}