@import 'scss/variables.module.scss';

.periodsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.periodsText {
  margin-right: 15px;
}

.periodContainer {
  padding: 8px 18px 8px 8px;
  user-select: none;
  color: $blue-4;
}

.periodRadioButton {
  display: none;
}

.bonusText {
  font-weight: 600;
}

.bonusTextNonActive {
  font-weight: 400;
}

.bonusTextActive {
  font-weight: 600;
}

.periodRadioButtonActive {
  border-radius: 16px;
  background: $yellow-1;
  color: $black-1;
}