.converasationChatContainer {
  position: relative;
  width: 470px;
  border-right: 1px solid #e9e9e9;
}

.chatWrapper {
  width: 350px;
  height: 500px;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputArea {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid red;
  outline: none;
}

.buttonContainer {
  width: 150px;
}

.dialogHeader {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.messagesHistoryContainer {
  height: calc(100vh - 157px);
  overflow-y: auto;
  padding: 0 10px;
}

.clientName {
  font-weight: 500;
}

.archiveIconContainer {
  margin: 0 13px 0 auto;
}

.iconArchive {
  opacity: .25;
  cursor: pointer;
}

.modalBody {
  padding: 20px;
  font-size: 14px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 20px;
}

.modalButton {
  width: 110px;
  height: 40px;
}