// @import '../../scss/variables.module.scss';

.formWrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.form {
  max-width: 450px;
  margin: 0 auto;
}

.h1 {
  font-weight: 800;
  text-align: center;
}

.formFooter {
  text-align: center;
  font-size: 15px;
}

.link {
  // color: $blue-4;
  text-decoration: none;
  margin-left: 5px;
}

.inputField {
  margin-bottom: 15px;
}