.popupContainer {
  position: relative;
}

.popup {
  position: absolute;
  left: 0;
  background: #fff;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 1px 3px 0 rgb(83 79 71 / 15%), 0 5px 15px 0 rgb(83 79 71 / 25%);
  border-radius: 5px;
  z-index: 99;
}

.center {
  transform: translateX(-50%);
  left: 50%;
}

.top {
  bottom: 100%;
}