.conversationsContainer {
  display: flex;
}

.conversationsHeaderDialogs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.conversationsDialogs {
  display: flex;
  flex-basis: 100%;
}

.notSelectedClientIdNotice {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #aaa;
}

.notSelectedClientIdContainer {
  width: 250px;
  margin: auto;
}

// .title {
//   font-size: 12px;
//   font-weight: 400;
//   text-transform: uppercase;
//   margin: 0;
//   margin-bottom: 8px;
//   color: #aaa;
//   padding-left: 30px;
// }

// .fixedSidebarSection {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   background: #2b2b2d;
// }

.noChannelsContainer {
  width: 311px;
  text-align: center;
  margin: auto;
}

.manImage {
  width: 189px;
  height: 280px;
}

.addChannelLink {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 20px 0 ;
  background: #0a86f9;
  border-radius: 5px;
  width: 100%;
}