@import '../../scss/variables.module.scss';

.conversationsContainer {
  display: flex;
}

.conversationsHeaderDialogs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.conversationsDialogs {
  display: flex;
  flex-basis: 100%;
}

.notSelectedClientIdNotice {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: $grey-4;
}

.notSelectedClientIdContainer {
  width: 250px;
  margin: auto;
}

.noChannelsContainer {
  width: 311px;
  text-align: center;
  margin: auto;
}

.manImage {
  width: 189px;
  height: 280px;
}

.addChannelLink {
  display: block;
  text-decoration: none;
  color: $white-1;
  padding: 20px 0 ;
  background: $blue-4;
  border-radius: 5px;
  width: 100%;
}