@import '../../../../scss/variables.module.scss';

.appointedContainer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-top: 1px solid $grey-13;
  background: $white-1;
  display: flex;
  align-items: center;
}

.inputArea {
  width: 100%;
  padding: 15px 20px;
  height: 88px;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid $grey-13;
  border-radius: 0;
  outline: none;
  background: $white-1;
}

.inputArea:focus {
  border-color: $grey-13;
}

.noMatchesFound {
  font-size: 13px;
  color: $grey-6;
  padding: 0 15px ;
}

.templatesContainer {

}

.templateEntity {
  cursor: pointer;
  padding: 10px 20px;

  &:hover {
    background: $white-6;
  }
}

.templateName {
  font-size: 14px;
  color: $brown-6;
  font-weight: 500;
  margin-bottom: 5px;
}

.templateMessage {
  font-size: 13px;
  color: $grey-6;
}

.appointDialogLink {
  padding: 7px 5px;
  text-decoration: none;
  color: $white-1;
  font-weight: 500;
  background: $green-1;
  border-radius: 3px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.appointedArea {
  width: 230px;
  text-align: center;
  margin: 15px auto 0;
  font-size: 14px;
}

.appointedNotice {
  font-size: 13px;
  margin-top: 14px;
  color: $grey-7;
}

.messagesInputArea {
  position: sticky;
  bottom: 0;
}