@import 'scss/variables.module.scss';

.modalBody {
  padding: 30px 30px 0;
}

.modalFooter {
  padding: 0 30px 15px 30px;
}

.field {
  margin-bottom: 15px;
}

.changeDataBtn {
  position: absolute;
  right: 10px;
  top: 0;
  color: $blue-4;
}

.saveBtn {
  margin-bottom: 15px;
}