@import '../../../../scss/variables.module.scss';

.codeContainer {
  word-wrap: break-word;
  border: 1px solid $opacity-4;
  border-radius: 5px;
  overflow-y: auto;
  height: 80px;
  margin-bottom: 13px;
  padding: 5px 10px;
}