.personInfoContainer {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #f8f8f8;
}

.personGeneralInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #444;
  padding: 20px;
  max-width: 269px;
}

.checkTeammateInput {
  height: 35px;
  margin-bottom: 0;
}

.clientName {
  margin-top: 10px;
  padding: 0 10px;
  outline: none;
  border-radius: 3px;

  &:focus {
    background: #f0f0f0;
  }
}

.blackListIcon {
  margin-top: 3px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  border-radius: 5px;

  &:hover {
    background: #f0f0f0;
  }
}

.generalList {
  padding: 0;
  list-style-type: none;
}

.generalListItem {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.nameField {
  font-weight: 500;
}

.valueField {
  margin-left: 5px;
  padding: 3px 0;
  transition: .2s;
  outline: none;
  flex-grow: 1;

  &:hover {
    background: #f0f0f0;
  }
}