.personInfoContainer {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  overflow-y: auto;
  height: calc(100vh - 62px);
  width: 310px;
}

.personGeneralInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #444;
  padding: 20px 10px;
}

.clientName {
  margin-top: 10px;
  padding: 0 10px;
  outline: none;
  border-radius: 3px;
  border: none;
  background: #f8f8f8;;
  font-size: 16px;
  font-weight: 500;

  &:focus {
    background: #f0f0f0;
  }
}

.blackListIcon {
  margin-top: 3px;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  border-radius: 5px;

  &:hover {
    background: #f0f0f0;
  }
}