@import 'scss/variables.module.scss';

.personInfoContainer {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background: $white-7;
  overflow-y: auto;
  height: calc(100vh - 62px);
  width: 310px;
}