@import '../../scss/variables.module.scss';

.headerContainer {
  display: flex;
  border-bottom: 1px solid $grey-13;
  justify-content: flex-end;
  padding: 17px 10px 17px 0;
}

.userBlock {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.userMenu {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.currentUserInfo {
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.switcherBlock {
  display: flex;
  align-items: center;
}

.stateLabel {
  font-size: 14px;
  margin-right: 10px;
}

.list {
  list-style-type: none;
  padding: 10px 0;
  border-top: 1px solid $grey-13;
  border-bottom: 1px solid $grey-13;
  margin: 0;
}

.popup {
  font-size: 14px;
  padding: 8px 0;
}

.link {
  display: flex;
  align-items: center;
  color: $blue-3;
  text-decoration: none;
  padding: 5px 24px;
  transition: .2s all;
  cursor: pointer;

  &:hover {
    background: $grey-21;
  }
}

.email {
  padding: 0 15px 5px;
}

.icon {
  width: 25px;
}

.searchContainer {
  position: relative;
  width: 330px;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
  font-size: 14px;
}

.search {
  width: 265px;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0 0 0 52px;
  padding: 1px;
  height: auto;
  font-size: 14px;

  &:focus {
    border: none;
  }
}

.title {
  background: $white-3;
  color: $brown-4;
  font-weight: 500;
  margin: 0;
  padding: 13px 20px;
  font-size: 13px;
}

.searchIcon {
  position: absolute;
  left: 20px;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 296px;
  font-size: 13px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.input {
  height: 36px;
  font-size: 13px;
  cursor: default;
  margin-bottom: 0;
}

.popupBodyContainer {
  padding: 20px 21px;
}

.label {
  font-weight: 500;
  color: $brown-3;
}

.searchButton {
  width: 100px;
  height: 32px;
  margin-left: auto;
  font-size: 13px;
}

.currentUserBalance {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 14px;
}

.balanceValue {
  margin-left: 5px;
}