@import '../../../../scss/variables.scss';

.textarea {
  resize: none;
  white-space: pre-wrap;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid $grey-15;
  box-sizing: border-box;
  outline: none;
  height: 75px;
}

.themeCard {
  border-radius: 3px;
  border: 1px solid $grey-18;
  width: 70px;
  height: 45px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.themeImage {
  width: 70px;
  height: 45px;
}

.themesContainer {
  display: flex;
}

.active {
  border-color: $blue-4;
}

.buttonsSettingsContaoner {
  display: flex;
  justify-content: space-between;
}

.buttonNoticeTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lettersLimit {
  opacity: .3;
  font-size: 12px;
  color: $black-1;
}

.switcherContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.swictherLabel {
  font-size: 15px;
  font-weight: 500;
  color: $brown-6;
  margin-left: 5px;
}

.adviceNote {
  padding: 10px 15px 14px;
  border-radius: 5px;
  background-color: $grey-19;
  margin-bottom: 26px;
  line-height: 1.29;
  color: $brown-6;
}

.description {
  margin: 0;
}

.price {
  margin: 10px 0 0 0;
  font-weight: 600;
}

.cssTextarea {
  resize: none;
}

.input {
  margin-bottom: 0;
}

.buttonNoticeField {
  margin-bottom: 16px;
}