@import '../../../../../../scss/variables.scss';

.ruleContainer {
  background: $white-4;
  border: 1px solid $grey-2;
}

.ruleContainer:not(:last-child) {
  margin-bottom: 10px;
}

.rulePreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.ruleName {
  font-weight: 500;
  color: $black-1;
}

.ruleNameEditMode {
  height: 38px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.ruleSettingsContainer {
  padding: 12px;
}

.conditionResult {
  margin-top: 10px;
}

.conditionResultTitle {
  display: flex;
  font-weight: 500;
  color: $black-1;
  margin-bottom: 10px;
  font-size: 15px;
}

.changeRuleBtn {
  color: $blue-1;
  padding: 0;
  margin-right: 10px;
}

.addConditionBtn {
  color: $blue-1;
  padding-left: 0;
}

.deleteActionBtn {
  color: $orange-1;
}