@import '../../../../../../scss/variables.scss';

.conditionContainer {

}

.conditionContainer:not(:last-child) {
  margin-bottom: 20px;
}

.conditionLine {
  display: flex;
  align-items: baseline;
  color: $black-1;
}

.conditionVariant {
  padding: 0;
  height: fit-content;
  border: none;
  background: transparent;
  color: $blue-1;
  font-size: 14px;
  margin-left: 4px;
  width: 207px;
  border-radius: 0;
  cursor: pointer;

  &:focus {
    border: none;
  }
}

.deleteConditionIcon {
  cursor: pointer;
  margin-left: auto;
}