.sidebarContainer {
  position: relative;
  min-width: 270px;
  max-width: 270px;
  height: 100vh;
}

.darkMode {
  background: #2b2b2d;
}

.lightMode {
  background: #fafafa;
  border-right: 1px solid #e2e6e9;
}