@import '../../../../scss/variables.module.scss';

.totalTariffPlanContainer {
  width: 290px;
  font-size: 14px;
}

.tariffContainer {
  padding: 20px;
  box-shadow: 0 4px 10px 0 hsl(0deg 0% 82% / 50%);
  border: 1px solid $grey-22;
  border-radius: 5px;
}

.tariffContainer:last-child {
  margin-top: 25px;
}

.balanceTitle {
  text-align: left;
}

.balance {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.link {
  border-radius: 3px;
  background-color: $green-1;
  color: $white-1;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 15px 10px;
  display: inline-block;
  box-sizing: border-box;
  transition: .3s all;

  &:hover {
    background: $green-2;
  }
}

.tariffPlanContainer {
  
}

.tariffDescriptionContainer {
  margin-top: 15px;
}

.feature {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $white-2;
  color: $black-1;
  padding: 5px;
}

.featureName {
  
}

.counterContainer {
  display: flex;
  align-items: center;
}

.featurePrice {
  font-weight: 600;
  min-width: 51px;
}

.counterValue {
  padding: 0 8px;
}

.freePrice {
  color: $green-1;
  font-weight: 600; 
}

.totalPriceContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0 15px;
  font-weight: 600;
}

.bonusTotalPriceContainer {
  border-bottom: 1px solid $white-2;
  padding: 20px 0;
}

.bonusLine {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.bonusLine:not(:last-child) {
  margin-bottom: 20px;
}

.grey {
  color: $grey-9;
}

.green {
  color: $green-1;
}

.promptContainer {
  margin-top: 20px;
  background: $yellow-2;
  padding: 15px 10px 20px;
  text-align: center;
}

.proptBonus {
  color: $green-1;
  font-weight: 600;
  margin-left: 5px;
}

.promptText {
  display: inline-block;
  margin-top: 10px;
}

.incrementDecrementBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 15px;
  width: 15px;
  border: 1px solid $grey-23;
  border-radius: 50%;
  background: transparent;
  color: $grey-23;
}

.button {
  padding: 15px 10px;
  margin-bottom: 10px;
}