@import '../../../../scss/variables.module.scss';

.featureCardContainer {
  max-width: 200px;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid $grey-16;
}

.featureCardContainer:not(:nth-child(3n)) {
  margin-right: 25px;
}

.featureCardContainer {
  margin-bottom: 25px;
}

.featureCardTitle {
  text-align: left;
  margin-top: 15px;
}

.description {
  color: $grey-6;
  font-size: 14px;
  line-height: 1.36;
}

.categoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: $blue-4;
  font-size: 14px;
}

.imageContainer {
  height: 42px;
}

.featureCountBtn {
  transition: none;
  font-size: 14px;
  font-weight: 400,
}

.featureCountDeleteBtn {
  padding: 6px 20.5px;
  background: $blue-4;
  color: $white-1;
}

.featureCountAddBtn {
  padding: 6px 15px;
  background: transparent;
  color: $blue-4;
}