@import '../../scss/variables.module.scss';

.defaultAvatar {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fc8492;
  border-radius: 50%;
  color: $white-1;
}

.small {
  width: 16px;
  height: 16px;
  font-size: 8px;
  margin-right: 8px;
}

.large {
  width: 32px;
  height: 32px;
  // margin-right: 12px;
}

.medium {
  width: 26px;
  height: 26px;
  font-size: 12px;
  // margin-bottom: 5px;
}