.conditionBuilderLine {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.condition {
  position: relative;
  padding: 10px;
  height: fit-content;
  width: 140px;
  font-size: 13px;
}

.addonAfter {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}