.formWrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.form {
  max-width: 450px;
  margin: 0 auto;
}

.h1 {
  font-weight: 800;
  text-align: center;
}

.field {
  margin-bottom: 15px;
}