$blue-1: #0084ff;
$blue-2: #005cbf;
$blue-3: #212529;
$blue-4: #0a86f9;
$blue-5: #0872d5;
$blue-6: #0573db;
$blue-7: #0062cc;
$blue-8: #0886f8;
$blue-9: #a3cff4;
$blue-10: #f4fffd;
$blue-11: #f4f9ff;

$white-1: #fff;
$white-2: #f0f0f0;
$white-3: #f6f6f6;
$white-4: #fafafa;
$white-5: #ececed;
$white-6: #f4f4f4;
$white-7: #f8f8f8;

$black-1: #000;
$black-2: #2b2b2d;

$grey-1: #999;
$grey-2: #e1e1e1;
$grey-3: #c3c3c3;
$grey-4: #aaa;
$grey-5: #3e3e3e;
$grey-6: #777;
$grey-7: #909090;
$grey-8: #b5b5b5;
$grey-9: #6c757d;
$grey-10: #b1b1b1;
$grey-11: #e0e3ea;
$grey-12: #e2e6e9;
$grey-13: #e9e9e9;
$grey-14: #d6d6d6;
$grey-15: #dadada;
$grey-16: #dcdcdc;
$grey-17: #dee2e6;
$grey-18: #dfdfdf;
$grey-19: #f8f4e4;
$grey-20: #f4f9fd;
$grey-21: #f8f9fa;
$grey-22: #f1f1f1;
$grey-23: #ccc;
$grey-24: #d9d9d9;
$grey-25: #f5f5f5;

$brown-1: #756658;
$brown-2: #464646;
$brown-3: #959595;
$brown-4: #4d4d4d;
$brown-5: #444;
$brown-6: #333;
$brown-7: #6a7277;
$brown-8: #b4b8bb;
$brown-9: #6e6e6e;
$brown-10: #363636;
$brown-11: #454648;
$brown-12: #666;

$orange-1: #ee6953;
$orange-2: #ffe5e0;

$green-1: #00c200;
$green-2: #44b044;
$green-3: #f5fff5;
$green-4: #faffec;
$green-5: #fbfff2;

$yellow-1: #ffefb2;
$yellow-2: #fff5d1;

$red-1: snow;

$opacity-1: rgba(62,62,62,.35);
$opacity-2: hsla(0,0%,100%,.35);
$opacity-3: hsla(0,0%,69%,.8);
$opacity-4: rgba(0,0,0,.125);

:export {
  blue1: $blue-1;
  blue10: $blue-10;
  blue11: $blue-11;
  brown10: $brown-10;
  green3: $green-3;
  green4: $green-4;
  green5: $green-5;
  red1: $red-1;
}