@import '../../../../scss/variables.module.scss';

.appealsContainerSeletor {
  width: 586px;
  height: 100vh;
  border-right: 1px solid  $grey-13;
  margin-left: 115px;
}

.incomingMessage {
  border-bottom: 1px solid $grey-13;
  color: $brown-5;
  cursor: pointer;
  padding: 13px 14px 13px;
  transition: .2s all;
  display: flex;
}

.message {
  &:hover {
    background: $white-4;
  }
}

.selected {
  background: $blue-4;
  color: $white-1;
}

.time {
  color: $opacity-1;
  font-size: 12px;
  margin-bottom: 4px;
}

.countAndCreationDate {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
  align-items: flex-end;
  height: 40px;
}

.clientAndLastMessage {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-left: 14px;
}

.lastMessage {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  padding-bottom: 2px;
  color: $brown-7;
}

.lastMessageSelected {
  color: $white-1;
}

.clientName {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.count {
  border-radius: 10px;
  min-width: 22px;
  width: fit-content;
  height: 18px;
  background: $blue-9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
  color: $white-1;
}

.timeSelected {
  color: $opacity-2;
}

.greeting {
  color: $brown-8;
}

.popup {
  font-size: 14px;
  padding: 8px 0;
}

.link {
  display: flex;
  align-items: center;
  color: $blue-3;
  text-decoration: none;
  padding: 5px 24px;
  transition: .2s all;

  &:hover {
    background: $grey-21;
  }
}

.email {
  padding: 0 15px 5px;
}

.icon {
  width: 25px;
}

.searchContainer {
  position: sticky;
  top: 0;
  width: 330px;
  display: flex;
  align-items: center;
  padding: 21px 10px 21px 0;
  font-size: 14px;
  border-bottom: 1px solid $grey-13;
  background: $white-1;
  z-index: 99;
}

.search {
  width: 265px;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0 0 0 52px;
  padding: 1px;
  height: auto;
  font-size: 14px;

  &:focus {
    border: none;
  }
}

.title {
  background: $white-3;
  color: $brown-4;
  font-weight: 500;
  margin: 0;
  padding: 13px 20px;
  font-size: 13px;
}

.searchIcon {
  position: absolute;
  left: 20px;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 296px;
  font-size: 13px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.input {
  height: 36px;
  font-size: 13px;
  cursor: default;
  margin-bottom: 0;
}

.popupBodyContainer {
  padding: 20px 21px;
}

.label {
  font-weight: 500;
  color: $brown-3;
}

.searchButton {
  width: 100px;
  height: 32px;
  margin-left: auto;
  font-size: 13px;
}

.searchPanelContainer {
  position: sticky;
  top: 0;
}

.appealsContainer {
  overflow: auto;
  height: calc(100vh - 62px);
}

.unreadMessageBlock {
  background: $grey-20;
  border-left: 2px solid $blue-9;
}

.searchBtn {
  padding: 8px;
}