.appealsContainerSeletor {
  width: 586px;
  height: 100vh;
  border-right: 1px solid  #e9e9e9;
  margin-left: 270px;
}

.incomingMessage {
  border-bottom: 1px solid #e9e9e9;
  color: #444;
  cursor: pointer;
  padding: 13px 14px 13px;
  transition: .2s all;
  display: flex;
}

.message {
  &:hover {
    background: #fafafa;
  }
}

.selected {
  background: #0a86f9;
  color: #fff;
}

.time {
  color: rgba(62,62,62,.35);
  font-size: 12px;
  margin-bottom: 4px;
}

.countAndCreationDate {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
  align-items: flex-end;
  height: 40px;
}

.clientAndLastMessage {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-left: 14px;
}

.lastMessage {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  padding-bottom: 2px;
  color: #6a7277;
}

.lastMessageSelected {
  color: #fff;
}

.clientName {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.count {
  border-radius: 10px;
  min-width: 22px;
  width: fit-content;
  height: 18px;
  background: #a3cff4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.timeSelected {
  color: hsla(0,0%,100%,.35);
}

.greeting {
  color: #b4b8bb;
}

.popup {
  font-size: 14px;
  padding: 8px 0;
}

.link {
  display: flex;
  align-items: center;
  color: #212529;
  text-decoration: none;
  padding: 5px 24px;
  transition: .2s all;

  &:hover {
    background: #f8f9fa;
  }
}

.email {
  padding: 0 15px 5px;
}

.icon {
  width: 25px;
}

.searchContainer {
  position: sticky;
  top: 0;
  width: 330px;
  display: flex;
  align-items: center;
  padding: 21px 10px 21px 0;
  font-size: 14px;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
  z-index: 99;
}

.search {
  width: 265px;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0 0 0 52px;
  padding: 1px;
  height: auto;
  font-size: 14px;

  &:focus {
    border: none;
  }
}

.title {
  background: #f6f6f6;
  color: #4d4d4d;
  font-weight: 500;
  margin: 0;
  padding: 13px 20px;
  font-size: 13px;
}

.searchIcon {
  position: absolute;
  left: 20px;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 296px;
  font-size: 13px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.input {
  height: 36px;
  font-size: 13px;
  cursor: default;
  margin-bottom: 0;
}

.popupBodyContainer {
  padding: 20px 21px;
}

.label {
  font-weight: 500;
  color: #959595;
}

.searchButton {
  width: 100px;
  height: 32px;
  margin-left: auto;
  font-size: 13px;
}

.searchPanelContainer {
  position: sticky;
  top: 0;
}

.appealsContainer {
  overflow: auto;
  height: calc(100vh - 62px);
}

.unreadMessageBlock {
  background: #f4f9fd;
  border-left: 2px solid #a3cff4;
}